services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: oumate
      POSTGRES_PASSWORD: Oum%40psql.
      POSTGRES_DB: timetable_manager
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  web:
    build: .
    depends_on:
      - db
    ports:
      - '5000:5000'
    environment:
      FLASK_APP: app.py
      FLASK_ENV: development
      DATABASE_URL: postgresql://oumate:Oum%40psql.@db:5432/timetable_manager
    # volumes:
    #   - .:/app
    command: sh -c "export FLASK_APP=app.py && flask db upgrade || true && python3 seed.py || true && exec gunicorn -w 4 -b 0.0.0.0:5000 app:app"

volumes:
  pgdata:
